<!DOCTYPE html>
<html lang="en">

<div class="jumbotron text-center">
  <h1>Welcome <a routerLink="/">{{name}}</a> !!!</h1>
  <p>Learning fullstack with AWS Cloud Tech</p>
</div>

<body>

<div class="container">
  <router-outlet></router-outlet>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>
          <a routerLink="/messages">Access Messages list</a>
        </h2>
        <p>Click Above to access Messages list</p>
      </div>
    </div>
  </div>
</body>
</html>
